h1{
	color:#992267;
}

h2{
	color:#992267;
}

body{
	background-color: #229954;
}

header{
	background-color: #156035;
}

p{
 	color:#601540;
 }

 .Profile{
 	border-radius: 50%;
 	margin-bottom: 200px;
 	overflow: hidden;

 	margin:-150px,0px,0px,-150px;
 
 }